{% extends "_base.html" %}
{% block content %}
<div class="quiz_box activeQuiz">
    <form action="{% url 'question' question.id %}" method="POST">
        {% csrf_token %}
        <header>
            <div class="title">Django Quiz Application</div>
        </header>
        <section>
            <div class="que_text"><span>{{question.id}}. {{question.title}}</span></div>
            <div class="option_list">
                {% for answer in question.answers.all %}
                <label class="option" for="answer_{{answer.id}}">{{answer.title}}
                    <input type="radio" id="answer_{{answer.id}}" name="answer" value="{{answer.id}}" required>
                </label>
                {% endfor %}
            </div>
        </section>

        <footer>
            <div class="total_que"><span>
                    <p>{{played_questions}}</p> of <p>{{total_no_of_questions}}</p> Questions
                </span></div>
            <button type="submit" class="next_btn show">Next Question</button>
        </footer>
    </form>
</div>
{% endblock content %}